<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="message" frontName="message">
            <module name="Trenza_Message" />
        </route>
		<route id="buyit" frontName="buyit">
            <module name="Trenza_Message" />
        </route>
    </router>

</config>